.swiper {
    width: inherit;
    height: inherit;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: inherit;
    height: inherit;
    object-fit: cover;
}